Kestra/Yaml/capturar_logs.yaml

# capturar_logs.yaml (en C:\Users\iernestov\.scripts\ENTORNO_JULIA\QA\Kestra\Yaml\capturar_logs.yaml)
id: logs_de_kestra
namespace: mi_script_kestra.script_logs

inputs:
  - id: id_execution
    type: STRING
    description: "ID de la ejecución de Kestra de la que quieres recoger los logs."
    required: true

tasks:
  # Se cambió el ID de la tarea a uno más descriptivo (opcional, pero buena práctica)
  # También funciona si lo dejas como 'logs_de_kestra.jl'
  - id: ejecutar_procesador_logs_julia
    type: io.kestra.plugin.scripts.julia.Script
    containerImage: tu_registro_docker/kestra-julia-processor:latest

    commands:
      # Corrección: usar el ID del input correcto (id_execution)
      - julia logs_de_kestra.jl "{{ inputs.id_execution }}"

    outputs:
      - id: resultado_script
        type: STRING

# Opcional: Una tarea para loggear el resultado del script
  - id: mostrar_resultado
    type: io.kestra.plugin.core.log.Log
    # Corrección: Referenciar el ID de la tarea Julia correctamente
    message: "El script Julia devolvió: {{ outputs.ejecutar_procesador_logs_julia.stdout }}"
    level: INFO